<form action="">
    <div class="form-group">
        <label for="name">Name & Surname</label>
        <input type="text" id="name" [(ngModel)]="student.name" name="name" required>
        <input type="text" id="surname" [(ngModel)]="student.surname" name="surname" required>
    </div>
    
    <div class="form-group">
        <label for="age">Age</label>
        <input type="date" id="dob" [(ngModel)]="student.dob" name="dob" required>
    </div>

    <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="string" id="nationality" [(ngModel)]="student.nationality" name="nationality" required>
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <input type="string" id="gender" [(ngModel)]="student.gender" name="gender" required>
    </div>

    <div class="form-group">
        <label for="imageUrl">ImageUrl</label>
        <input type="string" id="imageUrl" [(ngModel)]="student.imageUrl" name="imageUrl" required>
    </div>
    
    <button type="submit" (click)="addStudent()">Add Student</button>
</form>